body {
    padding: 0;
    margin: 0;
    max-width: 100%;
    max-height: 100%;
}
.container{
    background:lightgray;
    height: 100%;
    width: 100%;
    position: absolute;
    display:grid;
    place-items:center;
}
.boxes{
    background:whitesmoke;
    display:flex;
    flex-wrap:wrap;
    
    height: 30%;
    width: 70%;
    border-radius: 10px;
}
.type{
    height: 80px;
    width: 100px;
    margin: 10px;
    border-radius: 13px;
    flex-grow:1;
    flex-basis:200;
}
button{
    height: 100%;
    width: 100%;
    border-radius: 13px;
    border:none;
    outline:none;
    background: black;
    color: white;
    font-size:20px;
}